<h1 class="animated fast fadeIn">
    Sobre Comic App</h1>
<hr>
<p class="animated fadeIn" style="text-align: justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla purus libero, eu rhoncus ex auctor id. Fusce et est volutpat, dignissim est vehicula, consectetur tortor. Morbi consectetur elit neque, non rutrum nisi congue in. Praesent eu porta
    ligula. Cras efficitur nec augue eget feugiat. Morbi imperdiet lectus in mollis faucibus. Sed finibus leo vitae imperdiet aliquam. Cras mollis dapibus sapien, nec convallis lorem. Pellentesque magna massa, semper nec leo quis, laoreet condimentum
    elit. Vestibulum eu mi sed urna tincidunt sollicitudin vitae venenatis nibh. </p>